.head{
    height: 300px;
    text-align: center;
    color: white;
    background-image: url("./assets/jan-jakub-nanista-z9hvkSDWMIM-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.blog{
    border: 1px solid red;
    margin: 20px;
    padding: 10px;
    transition: .5s all;
    box-shadow: 5px 5px 10px rgba(137, 43, 226, 0.568);
}
.blog:hover{
    border-left: 10px solid red;
    border-radius: 10px 0 0 10px ;
    background-color: rgb(253, 250, 243);
}

.dis{
    /* display: none; */
    /* visibility: hidden; */
}
.so{
    border: 1px solid red;
    display: block;
    height: 30px;
    padding: 5px;
}