*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Open Sans", sans-serif;
}
/* common code */
.primary-color{
    color: #FD6E0A;
}
.dark-2{
    color: #474747;
}
.dark-3{
    color: #757575;
}
.btn-primary{
    color: white;
    font-weight: 700;
    background-color: #FD6E0A;
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 20px;
    border: none;
}
.bg-color{
    background: #20b2ab80;
}
.section-description{
    font-size: 35px;
    font-weight: 700;
}
.header{
    background-color: #20b2ab80;
    background-image: url('./images/developer.png'), url('./images/header_bg.png');
    background-repeat: no-repeat;
    background-position:top left, bottom right;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 120px;
}
.navTitle{
    font-size: 45px;
    font-weight: 800;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-left: 20px;
}
nav li a {
    text-decoration: none;
    font-size: 20px;
}

.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 35px 0 110px;

}
.banner-Content{
    width: 584px;
}
.photo{
    width: 584px;
}
.banner-subtitle{
    font-size: 45px;
    font-weight: 600;
}
.banner-title{
    font-weight: 700;
    font-size: 85px;
}
.banner-info{
    font-size: 18px;
    margin: 20px 0;
}
/* main style  */
main{
    max-width: 1140px;
    margin: auto;
}
main section{
    margin: 130px 0;
}
.about{
    border-radius: 8px;
    text-align: center;
    padding: 130px 150px;
}

.about-items{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

.skills{
    text-align: center;
}
.skills-container{
    display: flex;
    gap: 24px;
    margin-top: 50px;
}
.skill{
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    padding: 20px;
}
.skill:hover{
    border: 1px solid lightseagreen;
}

.resume-container{
    display: flex;
    gap: 24px;
}
.centerText{
    text-align: center;
    margin: 20px 0;
}
.experience{
    margin: 30px 0;
    text-align: justify;
}
.btnVai{
    text-align: center;
}
footer{
    display: flex;
    gap: 100px;
    padding: 130px 230px;
}
.foooter-container{
    width: 50%;
}
footer input[type="text"], footer input[type="email"], footer textarea{
    border-radius: 5px;
    padding: 10px 20px;
    height: 40px;
    border: none;
    margin-bottom: 10px;
    display: block;
    width: 100%;
}
.textArea{
    height: 150px;
    resize: none;
}