*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Work Sans", sans-serif;
}
.heroBtn{
    border-radius: 8px;
    background-color: #52c303;
    color: white;
    padding: 14px 24px;
    border: none;
    cursor: pointer;
}
#hero{
    height: 735px;
    background-image: linear-gradient(0deg, rgb(16, 16, 16) -19.5%,rgba(16, 16, 16, 0) 100%), url('./assets/hero-bg.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
.heroContainer{
    width: 818px;
    text-align: center;
    color: rgb(255, 255, 255);
}
.heroSubtitle{
    opacity: .6;
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
}
.heroHeading{
    font-size: 50px;
    font-weight: 700;
    line-height: 70px;
    margin: 16px 0;
}
.heroDiscription{
    font-size: 16px;
    opacity: .7;
    font-weight: 500;
    margin-bottom: 16px;
}

/* section two here  */
.SectionTwoContainer{
    width: 1054px;
    margin: 100px auto;
}
.cardTitle{
    text-align: center;
    margin-top: 150px;
}
.twoHeading{
    font-size: 80px;
    line-height: 90px;
}
.cardContainer{
    margin: 30px 0;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.card{
    max-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 13px;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 8px;
    box-sizing: border-box;
    transition: .5s all;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.card:hover{
    background-color: rgba(32, 178, 171, 0.164);
}
.img-box{
    width: 99%;
}
.img-box img{
    width: 100%;
}
.product-name{
    background-color: #52C30326;
    border-radius: 4px;
    padding: 8px 20px;
}


/* the end section  */
#The-end{
    display: flex;
}
.the-end-img-box{
    width: 50%;
}
.the-end-img-box img{
    width: 100%;
}
.the-end-subContainer{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.endContainer{
    width: 600px;
    text-align: center;
}

.sizemaintain{
    font-size: 36px;
}
.heroSubtitle{
    margin: 20px 0;
}
.linkContent{
    margin: 20px 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.commoncolor{
    color: #52c303;
}