*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Work Sans", sans-serif;
}
.heroBtn{
    border-radius: 8px;
    background-color: #52c303;
    color: white;
    padding: 14px 24px;
    border: none;
    cursor: pointer;
}
#hero{
    height: 735px;
    background-image: linear-gradient(0deg, rgb(16, 16, 16) -19.5%,rgba(16, 16, 16, 0) 100%), url('./assets/hero-bg.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
.heroContainer{
    width: 818px;
    text-align: center;
    color: rgb(255, 255, 255);
}
.heroSubtitle{
    opacity: .8;
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
}
.heroHeading{
    font-size: 50px;
    font-weight: 700;
    line-height: 70px;
    margin: 16px 0;
}
.heroDiscription{
    font-size: 16px;
    opacity: .7;
    font-weight: 500;
    margin-bottom: 16px;
}
